.ad-box2{
    width: 25%;
    border: 4px solid #CCC;
    border-radius: 10px;
    height: 300px;
    padding: 10px;
    margin: 5px 0px 20px 0;
    text-align: center;
}
.ad-box2 p{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.ad-box2 img{
    width: 50%;
    height: 50%;
}

.box-but-icons2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box-but-icons2 i{
    background-color: #1acc10;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ad-box2 a{
    color: #7E5E47 !important;
}

.chbtn{
    width: 130px;
}
.ad-box2 .chbtn a{
    color: #EEE !important;
}